.user-card {
  display: flex;
  flex-direction: column;
  height: 31.4rem;
  padding: 2.4rem;
  gap: 2.4rem;
  border-radius: 1.6rem;
  box-shadow: $box-shadow;
  font-family: "Proxima Nova";
  transition: transform .3s ease;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }

  &__title {
    font-size: 2.4rem;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.4rem;
    color: $font-secondary;
    line-height: 2rem;
  }

  &__icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 1.9rem;
  }
}