@font-face {  
  font-family: 'Proxima Nova';  
  src: url('@assets/fonts/proximanova_regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}  

@font-face {  
  font-family: 'Proxima Nova';  
  src: url('@assets/fonts/proximanova_bold.woff2') format('woff2');
  font-weight: bold; 
  font-style: normal;  
}  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
}

a {  
  text-decoration: none;
  color: inherit;
}  


a:hover {  
  text-decoration: underline;
}  

